.md .navbar-inner {

}

.glif-nav {
  font-style: italic;
  margin-left: 5%;
}

.glif-desc-nav {

}

.glif-name-nav {

}

#toggle_theme {
  width: 4rem !important;
  color: #989898;
  background: #3C3C3B;
  background: linear-gradient(90deg, #3C3C3B 46%, #CBC8C3 100%);
}

.leaflet-control-attribution {
  visibility: hidden;
}

.fab_map_btns {
 width: 40px !important;
 height: 40px !important;
}

.fab_geolocation_btn {
  margin-bottom: 150%;
}
