.md .navbar-inner {

}

.glif-nav {
  font-style: italic;
  margin-left: 5%;
}

.glif-desc-nav {

}

.glif-name-nav {

}

@media only screen and (max-width: 600px) {

  .tab-link {
  margin-top: 4%;
  }

}

#toggle_theme {
  width: 4rem !important;
  margin-right: 1%;
  color: #989898;
  background: #3C3C3B;
  background: linear-gradient(90deg, #3C3C3B 46%, #CBC8C3 100%);
}

.leaflet {
  position: fixed !important;
  bottom: 0 !important;
}

.leaflet-control-attribution {
  visibility: hidden;
}

.fab_map_layers_btns {
 width: 40px !important;
 height: 40px !important;
}

.fab_pin_btn {
  margin-bottom: 150%;
  visibility: hidden;
}

.fab_add_btn {
  margin-bottom: 150%;
}

.fab>a i {
  left: 51% !important;
  top: 46% !important;
  transform: translate3d(-52%, -46%,0) rotate(0deg) scale(1) !important;
}

.join_create_row {
  justify-content: center !important;
  align-items: center !important;
}

.join_create_slash_col {
  width: 10% !important;
}

.join_create_slash {
  font-size: 250%;
  text-align: center;
}

#map_tab_join_create-join,
#architect_tab_join_create-join {
  text-align: right;
  font-size: 150%;
}

#map_tab_join_create-create,
#architect_tab_join_create-create {
  text-align: left;
  font-size: 150%;
}

.card_footer_row {
  width: 100% !important;
  margin-left: 20% !important;
  margin-right: 20% !important;
}
